<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Mentors Matter</h3>
					<ul class="nav masthead-nav">
						<li class="active"><%= link_to "Home", root_path %></li>
						<% if user_signed_in? %>
							<li><%= link_to "New Project", new_project_path %></li>
							<li><%= link_to "Edit Profile", edit_profile_path %></li>
							<li><%= link_to "Logout", logout_path %></li>
						<% else %>	
							<li><%= link_to "Register", register_path %></li>
							<li><%= link_to "Login", login_path %></li>
						<% end %>
					</ul>
				</div>
			</div>